
#player {
	width: 150px;
	position: absolute;
}


#target {
	width: 70px;
	position: absolute;
}

#scoreCounter{
	display: flex;
	justify-content: space-between;
	position: relative;
	border: 2px solid black;
	width: 600px;
	height: 50px;
	left: 30%;
	background-color: rgb(136, 210, 241);
}

#levelUp {
	position: relative;
	width: 500px;
	height: 200px;
	top: 30%;
	display: none;
}

#gameArea{
	border: 2px solid black;
	position: relative;
	width: 600px;
	height: 600px;
	justify-content: center;
	display: flex;
	background-image: url('https://i.pinimg.com/originals/97/e7/df/97e7df95745fa214a5958734575a25a8.jpg');
	background-size: 600px 800px;
	top: 10%;
	left: 30%;
}