
img {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 10px;
}

#scoreCounter{
	position: absolute;
	margin: 20px;
}

#gameArea{
	border: 2px solid red;
	justify-content: center;
	display: flex;
	margin: auto;
}