body {
	background-image: url('https://i.pinimg.com/originals/43/db/43/43db4314b0a6c79827c301c5b1ab815c.jpg');
	background-size: cover;
}

#player {
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

#target {
	width: 70px;
	position: absolute;
	display: none;
}

.obstacle {
	width: 50px;
	position: absolute;
}

.life {
	width: 50px;
	position: absolute;
}

#scoreCounter{
	display: flex;
	justify-content: space-between;
	position: relative;
	border: 2px solid black;
	width: 600px;
	height: 50px;
	left: 33%;
	background-color: rgb(136, 210, 241);
}

#levelUp {
	position: relative;
	width: 500px;
	height: 200px;
	top: 30%;
	display: none;
}

#lostGame {
	position: relative;
	width: 900px;
	height: 600px;
	top: 2%;
	display: none;
}

#gameArea{
	border: 2px solid black;
	position: absolute;
	width: 800px;
	height: 600px;
	justify-content: center;
	display: flex;
	background-image: url('https://i.pinimg.com/originals/97/e7/df/97e7df95745fa214a5958734575a25a8.jpg');
	background-size: 800px 800px;
	top: 10%;
	left: 25%;
	-webkit-box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
}

.sound {
display: none;
}