body {
	background-image: url('https://i.pinimg.com/originals/43/db/43/43db4314b0a6c79827c301c5b1ab815c.jpg');
	background-size: cover;
	max-width: 100vh;
	max-height: 100vh;
}

#start{
width: 8%;
border: none;
border-radius: 5em;
outline: none;
transition-duration: 200ms;
}
#start:hover {
	width: 10%;
	background-color: #4ef18f;
	border: 2px solid black;
	transition-duration: 400ms;
}

#reset{
width: 8%;
border: none;
outline: none;
border-radius: 5em;
transition-duration: 200ms;
}

#reset:hover {
	width: 10%;
	background-color: #e21515;
	border: 2px solid black;
	transition-duration: 400ms;
	color: white;
}

#player {
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#target {
	width: 70px;
	position: absolute;
}

.obstacle {
	width: 50px;
	position: absolute;
}

.life {
	width: 50px;
	position: absolute;
}

.extra {
	width: 100px;
	position: absolute;
}
#scoreCounter{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	border: 2px solid black;
	width: 50%;
	left: 25%;
	background-color: rgb(136, 210, 241);
}

#levelUp {
	position: relative;
	width: 80%;
	height: 30%;
	top: 30%;
	display: none;
}

#lostGame {
	position: relative;
	width: 90%;
	height: 90%;
	top: 5%;
	display: none;
}

#gameArea{
	border: 2px solid black;
	position: absolute;
	width: 50%;
	height: 90%;
	justify-content: center;
	display: flex;
	background-image: url('https://i.ibb.co/THt25Nq/backgound-poke.jpg');
	background-size: 100% 125%;
	background-position-x: center;
	top: 8%;
	left: 25%;
	-webkit-box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
box-shadow: 10px 15px 91px 0px rgba(0,0,0,0.75);
}

.sound {
display: none;
}